<mat-toolbar class="nav-bar" color="primary">
  <span>Daily Matrix</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
    {{user.username}}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Settings</button>
    <button (click)="logout()" mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>

<section class="main-container">
  <mat-tab-group class="tabs">
    <mat-tab label="Editor">
      <div class="tab-body">
        <activity-editor *ngIf="user && userTasks" [user]="user" [userTasks]="userTasks"></activity-editor>
        <mat-divider class="divider" [vertical]="true"></mat-divider>
        <goal-tracker *ngIf="user && userGoals" [user]="user" [userGoals]="userGoals"></goal-tracker>
      </div>
    </mat-tab>
    <mat-tab label="Overview">
      <h1>Some more tab content</h1>
      <p>...</p>
    </mat-tab>
  </mat-tab-group>
</section>