<div class="goals-container">
  <h2>Long-Term Goals</h2>
  <mat-accordion *ngIf="quarters">
    <mat-expansion-panel *ngFor="let quarter of quarters; let i = index" class="goal-card"
      [expanded]="step === i" (opened)="setStep(i)" hideToggle>
      <mat-expansion-panel-header>
        <div class="panel-header">
          <mat-panel-title>
            Q{{quarter.quarter}}, {{quarter.year}} 
          </mat-panel-title>
          <mat-panel-description class="header-description">
            {{quarter.goals.length}} Goals set for Q{{quarter.quarter}}
          </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
      <mat-selection-list #goals>
        <div class="list-item" *ngFor="let goal of quarter.goals">
          <mat-list-option *ngIf="!editMode">
            {{goal.body}}
          </mat-list-option>
          <div class="goal-actions" *ngIf="editMode && goalForm">
            <mat-form-field [formGroup]="goalForm" class="goal-input">
              <input matInput [formControlName]="goal.id">
            </mat-form-field>
            <button mat-button color="warn" (click)="deleteGoal(goal.id)"><mat-icon>delete</mat-icon></button>
          </div>
        </div>

      </mat-selection-list>
  
      <mat-action-row>
        <span *ngIf="!editMode">
          <button class="edit-button" mat-raised-button (click)="editGoals()">Edit Goals</button>
          <button mat-raised-button color="primary" (click)="openDialog(quarter)">Add Goal</button>
        </span>
        <span *ngIf="editMode">
          <button mat-raised-button color="accent" (click)="saveGoals()">Save</button>
        </span>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>