.goals-container {

}
.goal-card {
  width: 500px;
}
.panel-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-description {
  flex-grow: 0;
}
.list-item {
  display: flex;
  align-items: center;
}
.goal-actions {
  display: flex;
  width: 100%;
}
.goal-actions > button {
  min-width: 50px;
  height: 46px;
  padding: 0;
}
.edit-button {
  margin-right: 1rem;
}
.goal-input {
  flex-grow: 1;
}

@media(max-width: 500px) {
  .goal-card {
    width: 100%;
  }
}