<mat-toolbar color="primary">
  <span>Daily Matrix</span>
</mat-toolbar>
<main class="login" *ngIf="signupForm">
  <!-- <h1>Daily Matrix</h1> -->
  <div class="login-card">
    <mat-card>
      <mat-card-title>Sign Up</mat-card-title>
      <div>
        <form class="login-container" [formGroup]="signupForm">
          <mat-form-field>
            <input  formControlName="email" type="email" matInput placeholder="Email">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="password" type="password" matInput placeholder="Password">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="tryRegister()">Login</button>
        </form>
      </div>
      <div class="social-signup">
        <button mat-raised-button color="primary" (click)="tryRegister()">Signup with Google</button>
      </div>
    </mat-card>
  </div>
</main>